.button {
  display: flex;
  max-height: 75px;
}

span {
  position: relative;
  display: inline-flex;
  width: 110px;
  height: 55px;
  /* margin: 0 15px; */
  margin: 0 15px 0 0px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "Calculate!";
  height: 55px;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Reset Button */

.reset {
  position: relative;
  display: inline-flex;
  width: 110px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.reset a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.reset a:before,
.reset a:after {
  position: absolute;
  content: "Reset!";
  height: 55px;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.reset a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.reset a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.reset a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
